body{
    font-family: 'Open Sans', serif;
}

.bg-primary {
    background-color: #BD5D38 !important;
}
h1{
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h5{
    font-weight: bold;
}

a {
    color: #BD5D38;
}
  
a:hover, a:focus, a:active {
    color: #824027;
}

h6{
    font-size:18px;
    font-weight: bold;
}

span.highlight{
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

span.bold{
    font-weight: bold;
}

span.code{
    letter-spacing: 0.25px;
    color: #212529;
    background-color: #F0F0F0;
}

section{
    margin-top:64px;
    padding-left:48px;
    padding-right:48px;
}

pre {
    text-align: left;
    white-space: pre-line;
    background-color:#F0F0F0;
}

pre code span.keyword{
    color :  #080808;
    font-weight : 700;
}

pre code span.annotation{
    color : #0000b3;
}

pre code span.classname{
    color : #0000b3;
    font-weight : 600;
}

pre code span.string{
    color : #ff8000;
    font-weight: 500;
}

pre code span.comments{
    color : #B0B0B0;
}

pre code span.this{
    color : #DAA520;
}

table.scope, table.resources, table.verbs, table.codes, table.multiplicity-annotations,  table.jpa-keywords{
    width: 100%;
    border-collapse: collapse;
}

table.scope td, table.scope th, table.resources td, table.resources th, 
table.verbs td, table.verbs th, table.codes td, table.codes th, table.multiplicity-annotations td, table.multiplicity-annotations th
, table.jpa-keywords td, table.jpa-keywords th{
    border: 1px solid black;
    padding:8px;
}

/* --- Side Nav --- */

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
}


@media (min-width: 768px) /* --- Larger Screens --- */{

    body {
        padding-left: 13rem;
    }

    #sideNav{
        text-align: center;
        position:fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 13rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: block;
        margin : 24px auto 16px auto;
        font-size: 26px;
    }

    #sideNav .navbar-collapse{
        display: flex;
        align-items: flex-start;
        flex-grow:0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
      }

    #sideNav .navbar-collapse .navbar-nav .nav-item, #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

/* --- Main Content --- */

div.content{
    margin-top: 5rem;
}

@media (min-width: 768px) /* --- Larger Screens --- */{

    div.content{
        margin-top: 2.5rem;
    }
}