body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body > div.container{
    margin-top: 9rem;
}

a {
    color: #BD5D38;
}

a:hover, a:focus, a:active {
    color: #824027;
}

section{
    margin-top:64px;
    padding-left:48px;
    padding-right:48px;
}

h5{
    font-weight: bold;
}

h6{
    font-size:18px;
    font-weight: bold;
}

/* --- Main Nav --- */

#mainNav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background:#33cc33;
    font-weight: 700;
    color:white;
}

#mainNav a.navbar-brand{
    color:white;
    font-size: 2em;
}

#mainNav ul.navbar-nav li.nav-item a.nav-link{
    color:white;
    font-size: 1.2em;
    padding-top : 16px;
    padding-bottom: 16px;
}

#mainNav ul.navbar-nav li.nav-item a.nav-link:hover, #mainNav ul.navbar-nav li.nav-item a.nav-link:focus{
    color: red;
}

/* --- Dropdown --- */

#mainNav ul.navbar-nav > li.nav-item  > ul.dropdown-menu{top:80%}

#mainNav ul li:hover > ul{display:block}

#mainNav ul ul ul{
    position:absolute;
    top:0;
    left:-330%;
    min-width:450px;
    display:none;
    z-index:15
}

#mainNav ul.navbar-nav li.dropdown ul.dropdown-menu{
    background:#33cc33;
    color:white;
}

#mainNav ul.navbar-nav li.dropdown ul.dropdown-menu a.dropdown-item{
    color:white;
    font-size: 1.2em;
    font-weight: 500;
}

#mainNav ul.navbar-nav li.dropdown ul.dropdown-menu a.dropdown-item:hover{
    background-color: transparent;
    color: red;
}

#mainNav ul ul a.dropdown-toggle{
    padding:8px;
}

/* --- Navigation Buttons --- */

div.container div.navigation-buttons{
    display: flex;
    justify-content: space-between;
    padding-left:48px;
    padding-right:48px;
    
}

#mainNav ul.navbar-nav > li.nav-item  > ul.dropdown-menu{top:80%}


/* --- Text Styling --- */

span.highlight{
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

span.bold{
    font-weight: bold;
}

span.code{
    letter-spacing: 0.25px;
    color: #212529;
    background-color: #F0F0F0;
}

span.underline{
    text-decoration: underline;
}

pre {
    text-align: left;
    white-space: pre-line;
    background-color:#F0F0F0;
}

pre code span.keyword{
    color :  #080808;
    font-weight : 700;
}

pre code span.annotation{
    color : #0000b3;
}

pre code span.classname{
    color : #0000b3;
    font-weight : 600;
}

pre code span.string{
    color : #ff8000;
    font-weight: 500;
}

pre code span.comments{
    color : #B0B0B0;
}

pre code span.this{
    color : #DAA520;
}

table.scope, table.resources, table.verbs, table.codes, table.multiplicity-annotations,  table.jpa-keywords, table.expressions{
    width: 100%;
    border-collapse: collapse;
}

table.scope td, table.scope th, table.resources td, table.resources th, 
table.verbs td, table.verbs th, table.codes td, table.codes th, table.multiplicity-annotations td, table.multiplicity-annotations th
, table.jpa-keywords td, table.jpa-keywords th, table.expressions td, table.expressions th{
    border: 1px solid black;
    padding:8px;
}
