<!DOCTYPE html>
<html>
  <head>
    <title>Angular - index-page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </head>

  <body>

     <nav class="navbar navbar-expand-md fixed-top" id="mainNav">

        <div class="container">
            <a class="navbar-brand" href="../index.html">SpringTutorial</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-5">
                <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarSpring" data-toggle="dropdown">Spring</a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="spring.html">What is Spring</a>
                              <a class="dropdown-item" href="spring-container.html">Spring IoC Container</a>
                              <a class="dropdown-item" href="spring-beans.html">Spring Beans</a>
                              <a class="dropdown-item" href="dependency-injection.html">Dependency Injection</a>
                              <a class="dropdown-item" href="annotations.html">Annotations</a>
                              <a class="dropdown-item" href="spring-boot.html">Spring Boot</a>
                              <a class="dropdown-item" href="spring-mvc.html">Spring Mvc</a>
                              <a class="dropdown-item" href="spring-security.html">Spring Security</a>
                              <a class="dropdown-item" href="rest-api.html">Rest API</a>
                              <a class="dropdown-item" href="application-properties.html">Application Properties</a>
                            </div>
                      </li>
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarJpa" data-toggle="dropdown">JPA</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="jpa.html">JPA</a>
                              <a class="dropdown-item" href="spring-data-jpa.html">Spring Data Jpa</a>
                            </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarSetup" data-toggle="dropdown">Setup εφαρμογης</a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="app-architecture.html">Αρχιτεκτονική εφαρμογής</a>
                              <a class="dropdown-item" href="spring-tool-suite.html">Spring Tool Suite</a>
                              <a class="dropdown-item" href="heroku.html">Heroku</a>
                              <a class="dropdown-item" href="postgresql.html">Postgres</a>
                              <a class="dropdown-item" href="amazon-s3.html">Amazon S3</a>
                              <a class="dropdown-item" href="angular.html">Angular</a>
                              <a class="dropdown-item" href="create-frontend.html">Δημιουργία Frontend</a> 
                              <a class="dropdown-item" href="visual-studio-code.html">Visual Studio Code</a>
                            </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarCreateApp" data-toggle="dropdown">Κώδικας εφαρμογης</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="jpa-configuration.html">Ρύθμιση βάσης δεδομένων και JPA</a>
                            <a class="dropdown-item" href="amazons3-configuration.html">Ρύθμιση Amazon S3</a>
                            <a class="dropdown-item" href="upload-images.html">Ανέβασμα εικόνων στο Amazon S3</a>
                            <a class="dropdown-item" href="create-tables-for-products.html">Δημιουργία πινάκων products, categories, brands, product_images, inventory</a>
                            <a class="dropdown-item" href="create-components-products.html">Δημιουργία repositories, services για τους πίνακες brands, categories...</a>
                            <a class="dropdown-item" href="insert-products.html">Δημιουργία controller,repository, service για την εισαγωγή προϊόντων</a>
                        </div>
                      </li>
            </ul>
        </div>
      </div>
   
    </nav>

    <div class="container">

        <h1 class="text-center">Angular - index-page</h1>

        <section class="intro">
            <p>Θα δημιουργήσουμε το index-page component, το οποίο είναι η αρχική σελίδα του e-shop. Το index-page component θα αποτελείται
                από άλλα πέντε components : navigation-bar, discount-carousel, products-carousel, shop-services και my-footer.
            </p>
        </section>

        <section class="index-page">
            <h5>index-page component</h5>

            <p>Δημιουργούμε το component index-page και το τοποθετούμε στο φάκελο components.</p>

            <pre>
                <code>
                        &emsp;&emsp;&emsp;&emsp;ng generate component index-page
                </code>
            </pre>


            <p>shop-services.component.html : Αρχικά, εισάγουμε τα components navigation-bar, shop-services, my-footer στο template.</p>

            <img class="img-fluid mx-auto my-5" src="../img/index-page-html1.PNG" alt="Index Page Html Initial"> 
        </section>

        <section class="discount-carousel">

            <h5>discount-carousel component</h5>

            <p>Δημιουργούμε το component discount-carousel, το οποίο θα εμφανίζει τις προσφορές.</p>

            <pre>
                <code>
                        &emsp;&emsp;&emsp;&emsp;ng generate component discount-carousel
                </code>
            </pre>

            <p>Επίσης, θα χρειαστούμε ένα service, το οποίο θα επικοινώνει με το server(Spring Boot). Θα το τοποθετήσουμε στο
                φάκελο services.
            </p>

            <pre>
                <code>
                        &emsp;&emsp;&emsp;&emsp;ng generate service deal
                </code>
            </pre>

            <p>Η μέθοδος getDeals() του DealService πραγματοποιεί ένα HTTP GET στο http://localhost:8080/api/deals και παίρνει τις προσφορές.</p>

            <img class="img-fluid mx-auto my-5" src="../img/discount-service-ts.PNG" alt="Discount Service"> 

            <p>Το Spring Boot επιστρέφει μια λίστα από Deals. Δημιουργούμε το αντίστοιχο μοντέλο Deal στο φάκελο models</p>

            <img class="img-fluid mx-auto my-5" src="../img/deal-model.PNG" alt="Discount Model"> 

            <p>Στην μέθοδο ngOnInit() του component, καλούμε την μέθοδο του service getDeals(), ώστε να πάρει τιμή η μεταβλητή deals</p>

            <p>discount-carousel.component.ts</p>

            <img class="img-fluid mx-auto my-5" src="../img/discount-carousel-ts.PNG" alt="Discount Component Ts">

            <p>Χρησιμοποιούμε το directive *ngFor, για να δημιουργήσουμε τα αντικείμενα του Bootstrap Carousel.</p>

            <p>discount-carousel.component.html</p>

            <img class="img-fluid mx-auto my-5" src="../img/discount-carousel-html.PNG" alt="Discount Component Html"> 

        </section>

        <section class="products-carousel">

            <h5>product-carousel component</h5>

            <p>Θα δημιουργήσουμε το product-carousel component, το οποίο θα εμφανίζει τα καινούρια και δημοφιλή προϊόντα, ανά τετράδες. Ο client
                θα πραγματοποιεί ένα HTTP GET αίτημα στο http://localhost:8080/api/products, μαζί με δύο παραμέτρους filter και page. 
            </p>

            <ul>
                <li>Για να πάρει την πρώτη τετράδα των αγαπημένων προϊόντων, το αίτημα θα πραγματοποιείται στο http://localhost:8080/api/products?filter=favorite&page=0</li>
                <li>Για να πάρει την δεύτερη τετράδα των καινούριων προϊόντων, το αίτημα θα πραγματοποιείται στο http://localhost:8080/api/products?filter=new&page=1</li>
            </ul>

            <p class="font-weight-bold mt-5">Spring Boot</p>

            <p>Προσθέτουμε τρία fields smallImageUrl, largeImageUrl και verySmallImageUrl στο entity Product.java, που είναι τα URLs των τριών μεγεθών της εικόνας. Χρησιμοποιούμε το annotation @Transient, για να δηλώσουμε ότι δεν θέλουμε, να
            αποθηκευτούν στη βάση, αλλά θέλουμε να επιστρέφονται στην JSON απάντηση.</p>

            <pre>
                <code>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@Transient</span>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">private</span> String smallImageUrl;

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@Transient</span>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">private</span> String largeImageUrl;

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@Transient</span>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">private</span> String verySmallImageUrl;
                </code>
            </pre>

            <p>Δημιουργούμε τις κατάλληλες μεθόδους στο Spring Boot</p>

            <p>ProductRepository</p>

            <pre>
                <code>
                    &emsp;&emsp;&emsp;&emsp;<span class="keyword">package</span> springeshop.repositories;

                    &emsp;&emsp;&emsp;&emsp;<span class="annotation">@Repository</span>
                    &emsp;&emsp;&emsp;&emsp;<span class="keyword">public interface</span> ProductRepository  extends JpaRepository&#60;Product, Integer&#62;  {

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Product findByid(int id);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Product findByName(String name);

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Query("select prod from Product prod where prod.is_favorite = true")
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; findFavoriteProducts(Pageable pageable);

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Query("select prod from Product prod where prod.is_new = true")
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; findNewProducts(Pageable pageable);
                    &emsp;&emsp;&emsp;&emsp;} 
                </code>
            </pre>

            <p>ProductService</p>

            <pre>
                <code>
                    &emsp;&emsp;&emsp;&emsp;<span class="keyword">package</span> springeshop.service;

                    &emsp;&emsp;&emsp;&emsp;<span class="keyword">public interface</span> ProductService{

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Product findById(int id);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Product findByName(String name);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;void saveProduct(Product product);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;void updateProduct(Product product);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;void deleteProductById(int id);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;boolean doesProductExist(Product product);

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; findFavoriteProducts(Pageable pageable);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; findNewProducts(Pageable pageable);
                    &emsp;&emsp;&emsp;&emsp;} 
                </code>
            </pre>

            <p>ProductServiceImpl</p>

            <p>Προσθέτουμε τις δύο μεθόδους</p>

           <pre>
            <code>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@Override</span>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">public</span> Page<Product> findFavoriteProducts(Pageable pageable) {
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return</span> productRepository.findFavoriteProducts(pageable);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}

                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@Override</span>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">public</span> Page<Product> findNewProducts(Pageable pageable) {
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return</span> productRepository.findNewProducts(pageable);
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}
            </code>
           </pre>

           <p>ProductApiController</p>

            <p>Προσθέτουμε τις ακόλουθες μεθόδους. Όταν η παράμετρος filter εχει τιμή "favorite", επιστρέφουμε τα προϊόντα με is_favorite = true,
                ενώ όταν έχει τιμή "new", επιστρέφομε τα προϊόντα με is_new = true.
            </p>

            <pre>
                    <code>
                            &emsp;&emsp;&emsp;&emsp;&emsp;<span class="annotation">@RequestMapping(</span>value = <span class="string">"/products"</span>, method = RequestMethod.GET)
                            &emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">public</span> ResponseEntity&#60;?&#62; getProductsByFilter(<span class="annotation">@RequestParam</span>(value = <span class="string">"filter"</span>) String filter, <span class="annotation">@RequestParam</span>(value = <span class="string">"page"</span>) int page){
    
                            &emsp;&emsp;&emsp;&emsp;&emsp;if(filter.equals(<span class="string">"favorite"</span>)){

                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; favoriteProducts = productService.findFavoriteProducts(PageRequest.of(page, 4));    
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;if(favoriteProducts.getTotalElements() == 0){
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return new</span> ResponseEntity&#60;&#62;(HttpStatus.NO_CONTENT);
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{

                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;addImagesAndQuantityToProducts(favoriteProducts);
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return new</span> ResponseEntity&#60;Page&#60;Product&#62;&#62;(favoriteProducts, HttpStatus.NO_CONTENT);

                            &emsp;&emsp;&emsp;&emsp;&emsp;else if(filter.equals(<span class="string">"new"</span>)){

                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page&#60;Product&#62; newProducts = productService.findNewProducts(PageRequest.of(page, 4));
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;if(newProducts.getTotalElements() == 0){
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return new</span> ResponseEntity&#60;Page&#60;Product&#62;&#62;(HttpStatus.NO_CONTENT);
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{

                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;addImagesAndQuantityToProducts(newProducts);
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="keyword">return new</span> ResponseEntity&#60;Page&#60;Product&#62;&#62;(newProducts, HttpStatus.NO_CONTENT);
                            &emsp;&emsp;&emsp;&emsp;&emsp;}
                    </code>
                </pre>

                <pre>
                    <code>
                        &emsp;&emsp;&emsp;&emsp;<span class="keyword">private</span> void addImagesAndQuantityToProducts(Page&#60;Product&#62; products){
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;for(Product product : products){	
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ProductImage productImage = productImageService.findByProductId(product.getId());
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;product.setSmallImageUrl(productImage.getSmallImageurl());
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;product.setLargeImageUrl(productImage.getLargeImageurl());
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;product.setVerySmallImageUrl(productImage.getVerySmallImageurl());
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;int productQuantity = inventoryService.findProductQuantity(product.getId());
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;product.setQuantity(productQuantity);
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}
                    </code>
                </pre>

                <p class="mt-5">Παράδειγμα αιτήματος με Postman</p>

                <img class="img-fluid mx-auto my-5" src="../img/favorite-products-api-postman.PNG" alt="Favorite Products Postman"> 

                <p class="font-weight-bold mt-5">Angular</p>

                <p>Δημιουργούμε πρώτα το products-service, το οποίο περιέχει τις μεθοδους getFavoriteProducts() και getNewProducts(), για να
                    παίρνουμε τα αγαπημένα και καινούρια προϊόντα.
                </p>

                <pre>
                    <code>
                            &emsp;&emsp;&emsp;&emsp;ng generate service products
                    </code>
                </pre>

                <img class="img-fluid mx-auto my-5" src="../img/products-service.PNG" alt="ProductService"> 

                <p>Δημιουργούμε το products-carousel component</p>

                <pre>
                    <code>
                            &emsp;&emsp;&emsp;&emsp;ng generate component products-carousel
                    </code>
                </pre>
                

                <p>Θα δημιουργήσουμε δύο φορές το product-carousel component: μια για να εμφανίζουμε τα αγαπημένα και μια για να εμφανίζουμε
                    τα καινούρια. Θα δίνουμε τιμή στο carouselType property από το IndexComponent. Αν το carouselType πάρει τιμη 'favorite', θα
                    το component θα ζητάει τα αγαπημένα, ενώ αν είναι 'new' θα ζητάει τα καινούρια.
                </p>

                <p>products-carousel.component.ts</p>

                <img class="img-fluid mx-auto my-5" src="../img/products-carousel-ts.PNG" alt="Products Carousel Ts"> 

                <p>Χρησιμοποιούμε το directive *ngFor, για να δημιουργήσουμε τα αντικείμενα του Bootstrap Carousel.</p>

                <p>products-carousel.component.html</p>

                <img class="img-fluid mx-auto my-5" src="../img/products-carousel-html.PNG" alt="Products Carousel Html">

                <p>products-carousel.component.css</p>

                <img class="img-fluid mx-auto my-5" src="../img/products-carousel-css.PNG" alt="Products Carousel Css">

                <h5 class="mt-5">index-page component</h5>

                <p>Τελικό index-page.component.html</p>

                <img class="img-fluid mx-auto my-5" src="../img/index-page-html2.PNG" alt="Index Page Html 2">

                <p>Τελικό index-page.component.ts</p>

                <img class="img-fluid mx-auto my-5" src="../img/index-page-ts.PNG" alt="Index Page Ts">
        </section>

        <section class="appearance">

            <h5>Τελική εμφάνιση σελίδας</h5>

            <p>Πάνω μέρος (navigation-bar + discount-carousel components)</p>

            <img class="img-fluid mx-auto my-5" src="../img/index-page-toppart.PNG" alt="Index Page Top Part">

            <p>Μεσαίο μέρος (products-carousel + products-carousel components)</p>

            <img class="img-fluid mx-auto my-5" src="../img/index-page-middlepart.PNG" alt="Index Page Middle Part">

            <p>Κάτω μέρος (shop-services + my-footer components)</p>

            <img class="img-fluid mx-auto my-5" src="../img/index-page-bottompart.PNG" alt="Index Page Bottom Part">

        </section>

    </div>

  </body>
</html>